<% flash.each do |type, message| %>
  <div class="<%= [flash_classes(type), 'mb-6 rounded-lg px-4 py-3 text-sm shadow-[0_0_0_1px_rgba(232,230,220,0.4)]'].join(' ') %>">
    <%= message %>
  </div>
<% end %>
